* {
    font-family: "Hack Nerd Font";
    font-size: 14px;
}

window#waybar {
    background-color: #000;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3f3f3f;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    border: none;
    border-radius: 0;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0);
    box-shadow: none;
}

#workspaces button.active {
    background-color: rgba(255, 255, 255, 0.2);
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#clock,
#battery,
#custom-updates,
#memory,
#disk,
#network,
#custom-wttr,
#custom-vpn,
#language,
#pulseaudio {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#custom-wttr {
    font-family: "Hack", "Weather Icons", "Material Icons";
}

#custom-vpn {
    color: #a6e3a1;
    padding-right: 12px;
}

#custom-updates {
    color: #f5c2e7;
}

#pulseaudio {
    color: #f9e2af;
}

#pulseaudio.muted {
    color: #90b1b1;
}

#language {
    color: #00b093;
    padding: 0 5px;
    min-width: 16px;
}

label:focus {
    background-color: #000000;
}
